<div>
	Pools are collections of DICOM studies.  Pools may optionally anonymize using the Clinical Trials Processor (CTP) and custom Javascript code to replace individual tags.
	<p>Select an existing pool from the list of the left, or click <i class="fa fa-plus-circle" {{action open}}></i> to create a new Pool.</p>
</div>