<div class="modal-header">{{title}}</div>

<div class="modal-body">
<form>

    <div class="form-group">
      <label for="formname" class="control-label">Name:</label>
      <input type="text" placeholder="Name" id="formname" ng-model="model.name" class="form-control"></input>
    </div>

    <div class="form-group" ng-hide="hideAETitle">
      <label class="control-label">AE Title:</label>
      <input type="text" placeholder="AE Title" class="form-control" ng-model="model.applicationEntityTitle"></input>
    </div>

    <div class="form-group">
      <label class="control-label">Description:</label>
      <input class="form-control" ng-model="model.description" ></input>
    </div>

   <div class="checkbox">
     <label>
       <input ng-model="model.anonymize" type="checkbox"> Anonymize
     </label>
   </div>

</form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="save()">Save</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>