<div class="page-header2">
  <h1><small>Pool {{pool.get('name')}} / {{pool.get('applicationEntityTitle')}}</small></h1>
  <!-- <h5>state: {{$state}} includes? {{$state.includes('root.pools.pool', {poolKey: '1'})}}
</h5>
-->
</div>
  <ul class="nav nav-pills">
    <li role="presentation" ui-sref-active="active">
      <a ng-show='permission[pool.id].edit' ui-sref='root.pools.pool.detail({poolKey: pool.id})' ng-class="{active: $state.includes('detail')}">detail</a>
    </li>

    <li role="presentation" ui-sref-active="active">
      <a ng-show='permission[pool.id].query' ui-sref='root.pools.pool.query({poolKey: pool.id})'>query</a>
    </li>

    <li role="presentation" ui-sref-active="active">
      <a ng-show='permission[pool.id].query' ui-sref='root.pools.pool.studies({poolKey: pool.id})'>studies</a>
    </li>

    <li role="presentation" ui-sref-active="active">
      <a ng-show='permission[pool.id].admin' ui-sref="root.pools.pool.authorization({poolKey: pool.id})">permissions</a>
    </li>
    <li role="presentation" ui-sref-active="active">
      <a ng-show='permission[pool.id].query' ng-href="rest/pool/{{pool.id}}/lookup">anonymization map</a>
    </li>

    <li role="presentation" ui-sref-active="active">
      <a ng-show='permission[pool.id].admin' ng-href="dashboard/dashboard.html?pool={{pool.get('name')}}">dashboard</a>
    </li>


  </ul>


<div ui-view></div>
