<div class="modal-header">{{title}}</div>

<div class="modal-body">
<form>

    <div class="form-group">
      <label class="control-label">Name:</label>
      <input type="text" placeholder="name" class="form-control" ng-model="groupModel.name"></input>
    </div>

    <div class="form-group">
      <label class="control-label">Description:</label>
      <textarea class="form-control" ng-model="groupModel.description" ></textArea>
    </div>


</form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="save()">Save</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
