


<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">

      <h3>Pools
        <i ng-show="$parent.permission.admin" class="fa fa-plus-circle" ng-click="newPool()"></i>
      </h3>
      <hr/>
      <ul class="nav nav-pills nav-stacked" ng-repeat="pool in poolCollection.models">
        <li role="presentation" ng-class="{active: $state.includes('root.pools.pool', {poolKey: '' + pool.id})}">

          <!-- For a coordinator, go to the query tab -->
          <a ng-hide="permission[pool.id].admin"   ui-sref='root.pools.pool.query({poolKey: pool.id})'>{{pool.get('name')}} / {{pool.get('applicationEntityTitle')}}@{{pool.get('host')}}:{{pool.get('port')}}</a>



          <a ng-show="permission[pool.id].admin" ui-sref='root.pools.pool.detail({poolKey: pool.id})'>{{pool.get('name')}} / {{pool.get('applicationEntityTitle')}}@{{pool.get('host')}}:{{pool.get('port')}}</a>


        </li>
      </ul>

    </div>
    <div class="col-md-9">
      <div ui-view></div>
    </div>
  </div>
</div>
