<div>
  <div class="panel panel-default" ng-hide="query">
    <div class="panel-heading">
      <h2 class="panel-title">Query images by spreadsheet to be retrieved to the '{{model.name}}' Pool</h3>
      </div>

      <div class="panel-body">
        <form role="form" enctype="multipart/form-data" >
          <div class="form-group">
            <label>DICOM Destination to Query</label>
            <select ng-model="connectorKey" ng-options="c.connectorKey as c.name for c in connectors " name='connectorKey' ng-required="true">
              <option value="">-- choose connector --</option>
            </select>
          </div>

          <div class="form-group">
            <label>File input</label>
            <input type="file" name="file" id="queryFile">
            <p class="help-block">Upload an Excel or CSV file using the <a href="NotionQueryTemplate.xlsx" download="">Excel template</a>.</p>
          </div>
          <button ng-click="submit()" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>

    <div class="panel panel-default" ng-hide="query">
      <div class="panel-heading">
        <h2 class="panel-title">Enter individual MRN</h3>
        </div>
        <div class="panel-body">
          <form role="form" enctype="multipart/form-data" >
            <div class="form-group">
              <label>DICOM Destination to Query</label>
              <select ng-model="connectorKey" ng-options="c.connectorKey as c.name for c in connectors " name='connectorKey' ng-required='true'>
                <option value="">-- choose connector --</option>
              </select>
            </div>
            <div class="form-group">
              <label class="control-label">PatientID:</label>
              <input class="form-control" ng-model="item.PatientID" ></input>
            </div>
            <div class="form-group">
              <label class="control-label">Anonymized Name (optional):</label>
              <input class="form-control" ng-model="item.AnonymizedName" ></input>
            </div>
            <div class="form-group">
              <label class="control-label">Anonymized ID (optional):</label>
              <input class="form-control" ng-model="item.AnonymizedID" ></input>
            </div>

            <button ng-click="submitIndividual()" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>


      <!-- list of prior queries -->
      <div class="panel panel-default" ng-hide="query">
        <div class="panel-heading">
          <h2 class="panel-title">Prior queries</h3>
          </div>
          <div class="panel-body">
            <table class="table table-striped table-hover table-condensed">
              <thead>
                <tr>
                  <td>Created</td>
                  <td>Last Query</td>
                  <td>Items Queried</td>
                  <td>Device Queried</td>
                  <td>Download</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="q in queries.models | orderBy: 'id'">
                  <td><a href ng-click="selectQuery(q.id)">{{q.get('createdTimestamp')}}</a></td>
                  <td><a href ng-click="selectQuery(q.id)">{{q.get('lastQueryTimestamp')}}</a></td>
                  <td>{{q.get('items').length}}</td>
                  <td>{{q.get('device').applicationEntityTitle}}@{{q.get('device').hostName}}:{{q.get('device').port}}</td>
                  <td><a ng-href="rest/pool/{{pool.id}}/query/{{q.get('queryKey')}}/excel">Excel</a></td>
                  <td><a href ng-click="selectQuery(q.id)">Query</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="panel panel-default" ng-hide="!query">
          <div class="panel-heading">
            <h2 class="panel-title">Query Result <i class="fa fa-refresh" ng-click="refresh()"></i></h3>
            </div>
            <div class="panel-body">
              <b>Status:</b> {{query.get('status')}}<p/>
              <b>DICOM Server:</b> {{query.get('device').applicationEntityTitle}}@{{query.get('device').hostName}}:{{query.get('device').port}}<p/>
              <button ng-disabled="!mode.match('done') " ng-click="fetch()" class="btn btn-default">Fetch Studies</button>
              <button  ng-click="doQuery()" class="btn btn-default">Query</button>
              <button ng-click="reset()" class="btn btn-default">Cancel</button>
              <button ng-click="selectAll()" class="btn btn-default">Select All</button>
              <table class="table table-striped table-hover table-condensed">
                <thead>
                  <tr>
                    <td></td>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Anonymized ID</td>
                    <td>Anonymized Name</td>
                    <td>Status</td>
                  </tr>
                </thead>
                <tbody ng-repeat="item in query.get('items')">
                  <tr ng-class="{'warning': item.status.contains('failed')}">
                    <td><i class="fa fa-check-square-o" ng-click="fetchAll(item)"></i></td>
                    <td>{{item.patientID || "N/A"}}</td>
                    <td>{{item.patientName || "N/A"}}</td>
                    <td>{{item.anonymizedID || "N/A"}}</td>
                    <td>{{item.anonymizedName || "N/A"}}</td>
                    <td>{{item.status}}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td colspan="5">
                      <table class="table table-striped table-hover table-condensed">
                        <thead>
                          <tr>
                            <td>Fetch</td>
                            <td>Patient Name</td>
                            <td>Patient ID</td>
                            <td>Accession Number</td>
                            <td>Study Date</td>
                            <td>Modality</td>
                            <td>Description</td>
                            <td>Status</td>
                          </td>
                        </thead>
                        <tbody >
                          <tr ng-repeat="result in item.items" ng-class="{ 'success' : result.status.startsWith('success') || result.status.startsWith('completed'), 'warning' : result.status.contains('fail') }">
                            <td><input type="checkbox" ng-checked="result.doFetch" ng-click="toggleFetch(result)"></td>
                            <td>{{result.patientName}}</td>
                            <td>{{result.patientID}}</td>
                            <td>{{result.accessionNumber}}</td>
                            <td>{{result.studyDate}}</td>
                            <td>{{result.modalitiesInStudy}}</td>
                            <td>{{result.studyDescription}}</td>
                            <td>{{result.status}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tbody>
                </table>
              </div>



            </div>


          </div>


        </div>
