
<!-- Static navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Notion</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a ng-show="loggedIn" ui-sref="root.pools.index">Pools</a></li>
        <li><a ng-show="loggedIn && permission.admin" ui-sref="root.connectors">Connectors</a></li>
        <li><a ng-show="loggedIn && permission.admin" ui-sref="root.groups">Groups</a></li>
        <li><a ng-show="loggedIn && permission.admin" ui-sref="root.users">Users</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="loggedIn"><p class="navbar-text">Signed in as {{user.username}} {{user.email}}</p></li>
        <li ng-show="loggedIn"><button type="button" class="btn btn-default navbar-btn" ng-click="logout()">Sign Out</button></li>
        <li ng-show="loggedIn"><p class="navbar-text"><i class="fa fa-cog fa-lg" ng-click="settings()"></i></p></li>


        <!-- <li ng-hide="loggedIn"><a ui-sref="root.register">Register</a></li> -->
        <li ng-hide="loggedIn"><a ui-sref="root.login">Login</a></li>
        <li><a href="help/index.html"><i class="fa fa-question fa-lg"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>



<div ui-view></div>
