<div class="modal-header">Edit user settings</div>

<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="formname" class="control-label">Email address:</label>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        <input ng-model="updateUser.email", type="text" class="form-control" name="email" placeholder="email address">
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="save()">Save</button>
  <button class="btn btn-warning" ng-click="close()">Cancel</button>
</div>
