
 <div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">PACS</a>
    <ul class="nav">
      <li>{{#link-to 'pools'}}Pools{{/link-to}}</li>
      <li>{{#link-to 'help' 'index'}}Help{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
    </ul>
  </div>
  </div>
  {{outlet}}
  