	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<table class='table'>
					<tr><td>{{#link-to 'help' 'index'}}Overview{{/link-to}}</td></tr>
					<tr><td>{{#link-to 'help' 'pools'}}Pools{{/link-to}}</td></tr>
					<tr><td>{{#link-to 'help' 'devices'}}Devices{{/link-to}}</td></tr>
					<tr><td>{{#link-to 'help' 'anonymization'}}Anonymization{{/link-to}}</td></tr>
					<tr><td>{{#link-to 'help' 'server'}}Server configuration{{/link-to}}</td></tr>
				</table>
			</div>
			<div class="span9">
				{{markdown model.content}}
			</div>
		</div>
	</div>
