<div>
	<div class="hero-unit">
		<h1>Mayo Research PACS</h1>
		<div class="span4"><p>The Mayo Research PACS is a stand alone Picture Archiving and Communications System (PACS) geared for the needs of the radiology researcher.</p></div>
	</div>
	<!-- Background image http://www.flickr.com/photos/7438870@N04/1579049277/ -->
	<div class="row-fluid">
		<div class="span4">
			<h2>Features</h2>
			<ul>
				<li>Multiple {{#link-to 'help' 'pools'}}Pools{{/link-to}} of images with optional {{#link-to 'help' 'anonymization'}}anonymization{{/link-to}}</li>
				<li><a href="http://mircwiki.rsna.org/index.php?title=CTP-The_RSNA_Clinical_Trial_Processor">CTP Anonymization</a></li>
				<li>Extensible Javascript based anonymization</li>
				<li>Simple installation</li>
			</ul>
		</div>
		<div class="span4">
			<h2>Concepts</h2>
			The Mayo Research PACS uses the concept of a {{#link-to 'pools'}}Pool{{/link-to}} to group images, {{#link-to 'help' 'anonymization'}}anonymization rules{{/link-to}}, {{#link-to 'help' 'devices'}}devices{{/link-to}} and {{#link-to 'help' 'lookup'}}lookup values{{/link-to}}.  Pools can be created for each researcher and access may be restricted to specific devices.
		</div>
		<div class="span4">
			<h2>Getting Started</h2>
			Create a {{#link-to 'pools'}}pool{{/link-to}}, configure the anonymization rules, add devices and send data!
		</div>
	</div>
</div>