<div>
	<div class="hero-unit">
		<h1>Mayo Research PACS</h1>
		<p>The Mayo Research PACS is a stand alone Picture Archiving and Communications System (PACS) geared for the needs of the radiology researcher.</p>
	</div>
	<div class="row">
		<div class="span4">
			<h2>Features</h2>
		</div>
		<div class="span4">
			<h2>Concepts</h2>
		</div>
		<div class="span4">
			<h2>Getting Started</h2>
		</div>
	</div>
</div>