<div>
	<div id="LookupTableContainer" class="lookup-table"></div>

        <input class="upload" id="fileupload" type="file" name="files[]"></input>


 <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
    </span>

</div>

