	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<table class='table'>
					<thead>
						<tr><th>Pools</th></tr>
					</thead>
					{{#each model}}
					<tr><td>
						{{name}}: <small class='muted'>{{this.applicationEntityTitle}}</small>
					</td></tr>						
					{{/each}}
				</table>
				{{#link-to 'pool.new'}}New Pool{{/link-to}}
			</div>
			<div class="span9">
				{{outlet}}
			</div>
		</div>
	</div>
